html {
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #374151;
    text-align: center;
    padding: 1rem;
    color: #FFFFFF;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    max-width: 60%;
    margin: auto;
    padding: 1rem;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.spinning {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}