
/* Top level */
html {
    background-color: #fafafa;
    font-size: 16px;
    height: 100%;

    
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/*  */
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Open Sans';
    font-style: normal;
}

h1 {
    font-size: 2.986rem;
    text-align: center;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    line-height: 1.4;
}

a {
    margin: 1rem
}

header, nav {
    padding: 0.1rem;
    background-color: #374151;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

footer-component {
    margin-top: auto;
    background-color: #374151;
    text-align: center;
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.white-link {
    color: white;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    max-width: min(1280px, 90%);
    margin: auto;
    padding: 1rem;
    flex: 1;
}

.blog {
    max-width: min(700px, 90%);
    margin: auto;
    padding: 1rem;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.spinning {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}